p {
	color: #6993BC;
	text-align: center;
	background-color: #F0F8FF;
	font-size: 11;
	text-align: center;	
}
.red_final {
	color: #9c0000;
	text-align: center;
}
.font_1 {
	background-color: black;
	color: yellow;
	font-size: large;
}
.font_2 {
	background-color: darkblue;
	color: white;
	font-size: medium;
}