html {
	scroll-behavior: smooth;
}

body {
	/*background-image: url("images/palpatine-shark.gif");*/
	margin: 0%; /* This ensures our site displays all the way to the edge of the browser screen */
}

.Navbar {
	overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
	background-color: black; /* This colors the navbar black */
	position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
	top: 0; /* This ensures no space is displayed above the navbar */
	width: 100%; /* This makes the navbar span the entire width of the page */
	z-index: 1; /*This ensures other elements don't display over the navbar */
}

.Navbar a {
	float: left; /* This specifies that the text floats on the left on the navbar */
	display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
	color: white; /* This is the font color for text on our navbar */
	padding: 14px 16px; /* This adds padding around our text */
	text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
	font-family: Avant Garde, Helvetica; /* This specifies the font family for text on our navbar */
	font-size: 20px; /* This specifies the font size for text on our navbar */
	text-align: center; /* This centers the text within its container */
}

.Navbar a:hover {
	background-color: #F4F4F4; /*  This defines the background color that will display when you hover over the text on the navbar */
	color: black; /* This defines the font color that will display when you hover over the text on the navbar */
	font-weight: bold; /* This makes the text on the navbar bold when hovered over */
}

.Navbar a.active { /* The active selector styles a link */
  background-color: darkgray;  /* This specifies the background color behind the Home button on the navbar */ 
}

#Typing_Video {
	position: fixed; /* This fixes our video to the page  */
	right: 0; /* This ensures no space between the edge of the video and the edge of the page */
	bottom: 0; /* This ensures no space between the edge of the video and the edge of the page */
	min-width: 100%; /* This ensures the video is displayed across the full width of the page */
	z-index: -1;
	filter: saturate(2.5);
}

#centered {
	text-align: center;
}

.Video_Text { 
	background: rgba(0, 0, 0, 0.5); /* This provides a semi-transparent background for the text to sit over */
	color: white; 
	width: 100%;
	padding: 20px; /* This adds padding around the text so that the background goes slightly beyond the text */
	margin-top: 23%;
}

/* Table - this section covers the styling of the columns and rows within our table */
* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
	box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
}

.Column_1 {
	float: left;  
	width: 50%; /* This ensures one column takes up half the page width */
	padding: 10px; 
	padding-top: 3%; /* This ensures there is space between the top of the column and our headings */
	height: 400px; /* This sets the height of our column at 400 pixels - if you change the text within the columns, you will need to adjust the column heights accordingly */
	background-color: #f2f2f2;
	background: rgba(242, 242, 242, 0.85);
}

#git_column {
	padding-top: 1.3%;
}

.Column_2 {
	float: left;
	width: 50%;
	padding: 10px;
	height: 400px;
	background-color: #4d4d4d;
}

.Column_3 {
	float: left;
	width: 50%;
	padding: 10px;
	height: 450px;
	background-color: #4d4d4d;
}

.Column_4 {
	float: left;  
	width: 50%;
	padding: 10px;
	padding-top: 2%;
	height: 450px;
	background-color: #f2f2f2;
	background: rgba(242, 242, 242, 0.85);
}

.Row:after { /* This inserts something after the content of selected elements */
	content: ""; /* ensures the footer doesn't overwrite a column */
	display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
	clear: both; /* This clears any other elements from floating on the left or the right of an element */
}

h1 {
	font-family: "Trebuchet MS", Optima; 
	text-align: center;
	margin-top: 3%; /* We are adding a small margin above the headings */
	color: #1a1a1a;
}

h3 {
	font-family: "Trebuchet MS", Optima; 
	text-align: center;
	color: #1a1a1a;
}

p {
	font-family: Arial;
	text-align: justify;
	padding: 0px 20px;
	transition: scale(1.0);
}

center {
	font-family: Arial;
	text-align: center;
	letter-spacing: 1px;
	font-size: 14px;
	padding-left: 20px;
	padding-right: 20px;
}

a {
	color: blue;
}

q {
	font-style: italic;
	font-weight: bold;
}

img {
	filter: grayscale(75%); /* This rids our pictures of 75% of their color */
    border-radius: 8px; /* This causes our images to have slightly rounded edges */
    max-width: 100%; 
    height: 100%; 
	margin: auto;
	display: block;	/* By specifying block display we can ensure our images are able to be centered */
}

input[type=text], [type=tel], [type=email] { /* This covers the input sections of the contact form */
	width: 100%;
	padding: 12px;
    border: 1px solid #ccc; /* We are setting a solid border and its colors */
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 13px;
    resize: vertical; /* This specifies how an element is resized; vertical allows the user to resize the height of the element */
    font-family: Arial;
    opacity: 1.0;
}

input[type=submit] { /* This covers the submit button for the contact form */
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	font-family: Arial;
	opacity: 1.0;

	/*Hover off*/
	transition: transform 0.2s;
}

input[type=submit]:hover {
	background-color: white; /* Makes the background turn white when hovered over */
	color: black; /* Makes the font turn black when hovered over */
	font-weight: bold; /* Makes the font bold when hovered over */
	transform: scale(1.15); /* Makes the button increase 1.5 times in size */ 
	transition: transform 0.2s; /* Makes the transform effect last 1.5 seconds from start to finish */
	border: solid 1px black;
}

form {
	padding: 0% 10%;
	font-family: "Trebuchet MS", Optima;
}

#ctkt {
	margin-top: -2%; /* fits form to column */
}

center:hover {
    transition: transform 0.1s;
	transform: scale(1.01);
}

p:hover {	
    transition: transform 0.1s;
	transform: scale(1.01);
}

h1:hover {
	transition: transform 0.1s;
	transform: scale(1.01);
}

h3:hover {
	transition: transform 0.1s;
	transform: scale(1.01);
}

img:hover {
	filter: grayscale(5%);  /* Brings back most of the image's color when hovered over */
    transition: transform 0.1s;
	transform: scale(1.01);
}

footer {
	padding: 2%;
	background-color:white;
}

#fadeIn1 {
	opacity: 1;
	transition: 2s opacity;
}

#fadeIn1.fade-out {
	opacity: 0;
	transition: none;
}

#fadeIn2 {
	opacity: 1;
	transition: 2s opacity;
}

#fadeIn2.fade-out {
	opacity: 0;
	transition: none;
}

#fadeIn3 {
	opacity: 1;
	transition: 2s opacity;
}

#fadeIn3.fade-out {
	opacity: 0;
	transition: none;
}

#p_git {
	opacity: 1;
	transition: 2s opacity;
	text-align: center;
}

#p_git.fade-out {
	opacity: 0;
	transition: none;
}


/* POP-UP FORM */
.open-btn {
	background-color: #555;
	color: white;
	border-radius: 4px;
	padding: 16px 20px;
	cursor: pointer;
	width: 280px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.open-btn:hover {
	background-color: #999999;
	color: white;
}

#git_button {
	font-size: 16px;
}

.hidden-btn-container {
	max-width: 100%;
	display: none;
}

.hidden-btn-container .btn {
	padding: 15px 20px;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	border-radius: 4px;
}

.hidden-btn-container .btn:hover {
	background-color: #fffeb3;
}

.btn1 {
	background-color: #E2EAFC;
}

.btn2 {
	background-color: #CCDBFD;
}

.btn3 {
	background-color: #B6CCFE;
}

.btn4 {
	background-color: #FFD6E2;
}

.btn5 {
	background-color: #FFC2D4;
}

.btn6 {
	background-color: #FF99B8;
}

#h1_git {
	margin-top: 1%;
	margin-block-end: 0%;
	padding: 6px 0px 3px;
}

.popup-Column_1 {
	float: left;  
	width: 50%;
	padding: 10px; 
	padding-top: 1.2%;
	height: 175px;
	opacity: 1.0;
}

.popup-Column_2 {
	float: left;
	width: 50%;
	padding: 10px;
	padding-top: 1.2%;
	height: 175px;
	opacity: 1.0;
}

#popup_p {
	text-align: center;
	margin-top: 188px;
	font-size: 13px;
	opacity: 1;
	transition: 2s opacity;
}

#popup_p.fade-out {
	opacity: 0;
	transition: none;
}

/* Lightning FX */
.Blink {
	animation: blink 0.3s linear;
}

@keyframes blink {
	15% {
		opacity: 0;
	}
}

.lightning_1 {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 30%;
	width: 100%;
	height: 100%;
	background: url("images/Lightning1.png") no-repeat;
}

.lightning_2 {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 30%;
	width: 100%;
	height: 100%;
	background: url("images/Lightning2.png") no-repeat;
}

.lightning_3 {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 30%;
	width: 100%;
	height: 100%;
	background: url("images/Lightning3.png") no-repeat;
}